<div class="nested-fields">
    <div class="field">
        <%= f.label :attr_type %>
        <br/>
        <%= f.text_field :attr_type %>
    </div>
  <div class="field">
        <%= f.label :val %>
        <br/>
        <%= f.text_field :val %>
    </div>
  <%= link_to_remove_association "remove row_importer", f %>
</div>
